<div class="left">
	<section>
		<%= @character.name %>
		<%= @character.brief %>

		<%= link_to 'Edit', edit_world_character_path(@world, @character) %>

		<div>
			<%= @character.description %>
		</div>
	</section>
	<%= render 'prompts' %>
</div>
<div class="right">
	<h5>相关角色</h5>
	<h5>相关概念</h5>
	<ul>
		<% @concepts.each do |concept| %>
			<li><%= link_to concept.name, world_concept_path(@world, concept) %></li>
		<% end %>
	</ul>
</div>
